.course-container {
  padding: 40px;
}

.course-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.course-wrapper {
  display: flex;
  gap: 25px;
}

.video-section video {
  width: 620px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.module-section {
  width: 280px;
  padding: 20px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.module-list {
  margin-top: 10px;
}

.module-list li {
  margin-bottom: 12px;
  font-size: 15px;
}
.back-button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 20px;
}

.back-button:hover {
  background: #0b5ed7;
}
