.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: white;
  width: 480px;
  padding: 25px;
  border-radius: 14px;
}

.batch-title {
  margin-top: 15px;
}

.batch-card {
  padding: 15px;
  margin-top: 10px;
  border-radius: 12px;
  background: #e5f0ff;
  border: 1px solid #b9d2ff;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-blue {
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
}

.btn-gray {
  padding: 10px 18px;
  background: #d1d5db;
  border: none;
  border-radius: 10px;
}
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
